<div class="container">
    <center>
    <div class="row">
      <ul class="nav nav-pills">
        <li>{{#link-to "index"}}Főoldal{{/link-to}}</li>
        <li>{{#link-to "profile"}}Adatlap{{/link-to}}</li>
        <li>{{#link-to "times"}}Munkaidők{{/link-to}}</li>
      </ul>
    </div>
    </center>
    <br>
    <div class="row well">
      {{outlet}}
    </div>
</div>
